@import "../../properties.css";

.controls {
  display: flex;
  align-items: center;
}

.textbox {
  flex: 1;
  margin-right: var(--space);
}

.label {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  padding-bottom: calc(var(--space) * 2);
}
