@import "../../properties.css";

.main {
  box-sizing: border-box;
  padding: calc(var(--space) * 8) calc(var(--space) * 2) var(--space);
}

.notifications {
  border: var(--border);
  border-width: 1px 0;
  margin-top: calc(var(--space) * 2);
}
